$font1:20px;
$font2:40px;

$naranja:#e08700;
$negro:#000000;
$gris:#363230;
$blanco:#ffffff;

@mixin flex-row-nowrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
main{
    .slide{
        img{
            height: 90vh;
        }
        h5{
            font-weight: bold;
            color: $naranja;
            text-shadow: 0 0 5px $negro;
            font-size: 18px;
        }
    }
    .carousel-indicators, .carousel-control-next-icon, .carousel-control-prev-icon{
        background-color: $negro;
        text-shadow: 0 0 5px $negro;
        border-radius: 5px;
    }
    .carousel-indicators{
        margin-top: 0;
        border-radius: 0px;
    }
    div{
        .caruselTexto{
            background-color: $negro;
            margin: 0;
            padding: 0;
        }
    }
}
@media (max-width: 475px){
    .caruselTexto{
        font-size: 10px;
    }
}
