$font1:20px;
$font2:40px;

$naranja:#e08700;
$negro:#000000;
$gris:#363230;
$blanco:#ffffff;

@mixin flex-row-nowrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.formularioContacto{
    background-color: $negro;
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 16%;
    border-radius: 10px;
    .headerContacto{
        width: 100%;
        display: block;
        background-color: $negro;
        color: $blanco;
        font-size: 100px;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    }
    .contacto{
        padding: 12px;
        overflow: hidden;
        color: $gris;
        input:not([type='submit']), textarea{
            border: none;
            border-bottom: 1px solid $gris;
            outline: none;
            font-size: $font1;
            margin-bottom: 10px;
            background-color: $gris;
            color: $blanco;
        }
        input:hover, textarea:hover{
            background-color: $naranja;
            transition: all .3s ease-in-out;
        }
        label, input, textarea{
            display: block;
            width: 100%;
        }
        label{
            color: $naranja;
        }
        textarea{
            min-height: 100px;
        }
        .enviar{
            padding: 10px;
            font-size: $font1;
            background-color: $negro;
            border: none;
            color: $naranja;
            &:hover{
                color: $negro;
            }
        }
    }
}
@media (max-width:580px){
    .formularioContacto{
        width: 300px !important;
    }
}
@media (max-width:340px){
    .formularioContacto{
        width: 250px !important;
    }
}