$font1:20px;
$font2:40px;

$naranja:#e08700;
$negro:#000000;
$gris:#363230;
$blanco:#ffffff;

@mixin flex-row-nowrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background-color: $negro;}
// inicio navbar
.navbar{background-color: $negro;
    .navbar-brand{
        font-size: $font1;
        font-weight: bold;
        .logo{
            color: $naranja !important;
        }
    }
    .nav-link{
        &:hover{
            text-shadow: 0 0 5px $naranja, 0 0 5px $naranja;
        }
    }
}
// fin navbar
main{
    width: 100%;
    height: 90vh;
    background-color: $gris;
    .jumbotron{
        background-image: linear-gradient(rgba(255, 123, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/sofia-barrios-2.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        width: 100%;
        height: 100%;
        color: #ffffff;
        font-size: $font2;
        text-shadow: 0 0 5px $negro;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 0;
        border-radius: 0;
        overflow: hidden;
        p{
            font-size: 25px;
        }
    }
}
footer{
    text-align: center;
    background-color:$negro;
    padding: 20px;
    margin-top: 10px;
    height: 100px;
    width: 100%;
    @include flex-row-nowrap;
    justify-content: space-between;
    align-items: center;
    h3{
        font-size: $font1;
        margin-bottom: 20px;
        color: $naranja;
    }
    .redes{
        a{
            letter-spacing: 20px;
            font-size: 30px;
            color: $blanco;
            justify-items: center;
            &:hover{
                color: $naranja;
            }
        }

    }
}
.fa-user{
    color:#ffffff;
    &:hover{
        color: $naranja;
        transition: all .3s ease-in-out;
    }
}
@media (max-width: 400px){
    .bienvenida{
        font-size: 22px !important;
    }
}
@media (max-width: 436px){
    .redes a{
        font-size: 25px !important;
    }
    footer h3{
        font-size: 17px
    }
}

@import "carusel";
@import "card";
@import "form";