*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background-color: black;}
// inicio navbar
.navbar{background-color: black;
    .navbar-brand{
        font-size: 20px;
        font-weight: bold;
        .logo{
            color: orange !important;
        }
    }
    .nav-link{
        &:hover{
            text-shadow: 0 0 5px #e08700, 0 0 5px #e08700;
        }
    }
}
// fin navbar
main{
    width: 100%;
    height: 90vh;
    background-color: #363230;
    .jumbotron{
        background-image: linear-gradient(rgba(255, 123, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/sofia-barrios-2.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        width: 100%;
        height: 100%;
        color: #ffffff;
        font-size: 40px;
        text-shadow: 0 0 5px #000000;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 0;
        border-radius: 0;
        p{
            font-size: 25px;
        }
    }
}
footer{
    text-align: center;
    background-color: #000000;
    padding: 20px;
    margin-top: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    h3{
        font-size: 20px;
        margin-bottom: 20px;
        color: #e08700;
    }
    .redes{
        a{
            letter-spacing: 20px;
            font-size: 30px;
            color: #ffffff;
            justify-items: center;
            &:hover{
                color: #e08700;
            }
        }

    }
}
.fa-user{
    color:#ffffff;
    &:hover{
        color: #e08700;
        transition: all .3s ease-in-out;
    }
}

@import "carusel";
@import "card";
@import "form";